html{ margin: 0; padding: 0;}

body{
    margin-top: 26px;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    background-image: url('img/BG2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#padding{
  margin-top: 50px;
}

#navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a{
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  display:block;
}

#navbar a:hover{
  background: #ddd;
  color: #000;
}

#table{
  word-wrap: break-word;
  width: 70%;
}

#wrapper{
    float: right;
    margin-right: 5%;
    width: 70%;
    min-height: 1000px;
    padding:1px;
    background-color: #EFE7DA;
}

#wrap{
  float: left;
  position: fixed;
  margin-left: 40px;
  margin-top: 4%;
  width: 280px;
  min-height: 500px;
  background-color: #EFE7DA;
}

#header{
    width: 98%;
    height: 50px;
    margin: 0 auto;
    background-color: #EFE7DA;
}

#logo
{
    display: block;
    float:left;
    width: 264px;
    height: 267px;
    margin-left: 15%;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
}

#logo2
{
    position: fixed;
    display: block;
    float:center;
    width: 264px;
    height: 267px;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
}

#name{
  margin-top: 270px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#second-submenu{
    height: 24px;
    width: 98%;
}
#third-submenu{
   height: 24px;
    width: 98%;
    text-align: left;
}

#menu a, #second-submenu a, #third-submenu a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#menu a:hover, #second-submenu a:hover, #third-submenu a:hover{
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}
#content{
    width: 96%;
    padding: 8px;
    min-height: 1000px;
    margin: 4px auto;
    background-color: #FFF;
}
#subcontent{
    width: 98%;
    padding: 4px;
    float: left;
}

#move-right{
    float: right;
    margin-right: 5%;
}
/* FORM */
.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin: 0 auto;

}
#form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}
/** end */

#data-list {
  border-collapse: collapse;
  width: 100%;
}

#data-list td, #data-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-list tr:nth-child(even){background-color: #f2f2f2;}

#data-list tr:hover {background-color: #ddd;}

#data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#login-block{
  width: 30%;
  height: 300px;
  margin-right: 20%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
}

#brand-block{
  width: 40%;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#error_notif {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin: 0 auto;
  z-index: 999999999;
}